*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/app/.cxx
*.apk
*.aab
*.ap_
*.dex
*.class
*.log
*.tmp
*.bak
gen/
out/
.navigation/
*.hprof
